@{
    ViewData["Title"] = "CuraGo";
}

<main>
    
    <div class="row mb-3">
        <div class="col-md-5">
            <img src="~/images/register.jpg" height="395"/>
        </div>
        <div class="col-md-7">
            <div class="row g-5">
                <div class="col-md-12">
                    <h2 class="text-body-emphasis outfit"><img src="~/images/signup.png" height="40px" width="40px"> Sign Up</h2>
                </div>
            </div>

            <hr class="col-6 col-md-6 mb-5">

            <p class="fs-5 pb-4">Join CuraGo's <b>exclusive Phase 1 launch</b> and expand your reach with at-home consultations.</p>
            
            <div class="row mb-3 g-3">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="firstName" class="form-label">Last Lame</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
            </div>

            <div class="row mb-3 g-3">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="firstName" class="form-label">Email Address</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-success float-end"><i class="fa-solid fa-user-plus"></i> Signup</button>
                </div>
            </div>
        </div>
    </div>

</main>
