@{
	ViewData["Title"] = "CuraGo";
	Layout = "_LandingLayout";
}

<main>
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-body-emphasis outfit">Expand Your Clinical Practice With CuraGo</h1>
			<p class="fs-5">Join CuraGo's <b>exclusive Phase 1 launch</b> to expand your reach with at-home consultations.</p>
			<p>Ready to Grow Your Practice?</p>
			<div class="pb-3">
				<a href="#signup" class="btn btn-success btn-lg px-4"><i class="fa-solid fa-user-doctor"></i>&nbsp; Sign Up Instantly</a>
			</div>
		</div>
		@* <div class="col-md-4">
			<img src="~/images/jumbotron.jpg" class="float-end" height="250px"/>
		</div> *@
	</div>

	<hr class="col-12 col-md-12 pb-3">
			
	<div class="row g-5">
		<div class="col-md-12">
			<h3 class="text-body-emphasis text-center outfit pb-3"><img src="~/images/hands.png" height="50px" width="50px"> Why Join CuraGo?</h3>
			<div class="row">
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Earn More</b> – Additional revenue stream without extra hassle.</li>
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Expand Your Patient Reach </b> – Connect with an untapped home-visit patient base.</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; <b> Zero Admin Work </b> – We handle bookings, logistics, transport and billing.</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Flexible Scheduling </b> – Choose hours that work for you.</li>
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Boost Your Recognition </b> – Establish yourself as a trusted doctor.</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Build Your Brand </b> – Strengthen your reputation and grow your practice.</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Exclusive ESOP Opportunity </b> – Be part of something bigger.</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Doctor-First Approach </b> – Designed to balance your convenience with quality care.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
			
	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-12">
			<h3 class="text-body-emphasis outfit pb-3"><img src="~/images/join.png" height="50px" width="50px"> How CuraGo Works for YOU</h3>
			<div class="row">
				<div class="col-md-3 pb-3 d-flex align-items-stretch">
					<div class="card">
						<img src="~/images/bw_suitcase.png" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">Replace OPD Consultations</h6>
							<p class="card-text">Tap into an untapped patient base who prefer home visits over hospital visits</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 pb-3 d-flex align-items-stretch">
					<div class="card">
						<img src="~/images/bw_calendar.png" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">We Manage bookings</h6>
							<p class="card-text">No need to worry about scheduling, patient management, or cancellations</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 pb-3 d-flex align-items-stretch">
					<div class="card">
						<img src="~/images/bw_transport.png" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">Full Transportation Support</h6>
							<p class="card-text">We provide transport for your home visits, so you can focus on treating patients</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 pb-3 d-flex align-items-stretch">
					<div class="card">
						<img src="~/images/bw_doctor.png" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">Balanced Model</h6>
							<p class="card-text">Ensure patient convenience never comes at the cost of your professional dignity</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
			
	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-7">
			<h2 class="text-body-emphasis outfit pb-3"><img src="~/images/mission.png" height="50px" width="50px"> Our Mission Statement</h2>
			<h5 class="text-body-emphasis outfit pb-3">CuraGo: A Doctor-Led, Doctor-Built Platform for Your Growth</h5>
			<p>
				At CuraGo, we understand the challenges doctors face, especially after years of hard work
				and dedication—feeling financially unrewarded is all too common. That’s why we’ve built a
				doctor-led platform designed to empower doctors like you to thrive. With our innovative
				at-home healthcare solution, you can earn more, work flexibly, and be in control of your
				practice, all while providing the highest quality care to your patients.
			</p>
			<h5 class="text-body-emphasis outfit pb-3">Why CuraGo?</h5>
			<p>
				<b>Built by Doctors for Doctors:</b> CuraGo is created by healthcare professionals who
				understand your needs. We’ve designed a platform that puts you at the center, offering the
				tools you need to maximize your income and career growth.
			</p>
			<p>
				<b>Earn More, Work Flexibly:</b> Provide high-quality, on-demand at-home healthcare, and earn
				more during off-hours, evenings, or weekends. Whether you're looking to supplement your
				income or shift to a more flexible schedule, CuraGo gives you that freedom. Flexibility is key,
				especially when you’ve already
				given so much to your patients.
			</p>
			<p>
				<b>Tech-Driven, Hassle-Free Logistics:</b> We handle appointment bookings, billing, and logistics,
				so you can focus on delivering care, growing your practice and what truly matters to you.
			</p>
			<p>
				<b>Financial and Leadership Growth:</b> Top performers can earn ESOPs and become partners in
				the company, gaining leadership roles in cities across India as we scale. It’s time your hard
				work pays off.
			</p>
			<p>
				<b>Affordable, Accessible Care:</b> We are committed to democratizing healthcare by making
				high-quality care affordable and accessible for all, while ensuring doctors like you are fairly
				compensated for your expertise.
			</p>
			<p>
				<b>A Cooperative of Doctors:</b> At CuraGo, we’re not just building a platform—we’re creating a
				network of doctors, where each one has a <b>potential</b> stake in our success. By joining CuraGo,
				you’re not just an employee; <b>you stand to become an owner</b>, contributing to something
				groundbreaking in healthcare. Together, we’re building a cooperative that brings ownership,
				shared growth, and the opportunity for doctors to thrive collectively.
			</p>
			<p class="fst-italic">
				If you’re looking for a platform that truly understands and values your contributions, CuraGo
				is here to change the way you practice medicine. Join us in building a better future for
				healthcare professionals and patients alike.
				Let’s revolutionize healthcare—together.
			</p>
			<p></p>	
		</div>
		<div class="col-md-5">
			<h3 class="text-body-emphasis outfit pb-3"><img src="~/images/doctor.png" height="50px" width="50px"> Who Should Join?</h3>
			<ul class="list-unstyled">
				<li class="pb-3"><i class="fa-solid fa-thumbtack text-danger"></i>&nbsp; <b>Specialists & Super-specialists</b> (preferably fresh graduates or &#60; 2 years experience)</li>
				<li class="pb-3"><i class="fa-solid fa-thumbtack text-danger"></i>&nbsp; <b>MBBS Doctors</b> with 3+ years of experience</li>
				<li class="pb-3"><i class="fa-solid fa-thumbtack text-danger"></i>&nbsp; <b>Interns and MBBS Doctors</b> with &#60; 3 years of experience</li>
				<li><i class="fa-solid fa-thumbtack text-danger"></i>&nbsp; <b>PG Resident</b></li>
			</ul>
		</div>
	</div>

	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5" id="signup">
		<div class="col-md-12">
			<h2 class="text-body-emphasis outfit pb-3"><img src="~/images/interest.png" height="50px" width="50px"> Sign Up</h2>
			<div id="registerInterestSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div id="registerInterestFailure" class="alert alert-danger alert-dismissible fade show" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div class="row mb-3 g-3">
				<div class="col-md-4">
					<label for="firstName" class="form-label">First Name</label>
					<input type="text" class="form-control" id="firstName" placeholder="John" value="" autocomplete="off" required>
				</div>
				<div class="col-md-4">
					<label for="lastName" class="form-label">Last Name</label>
					<input type="text" class="form-control" id="lastName" placeholder="Doe" value="" autocomplete="off" required>
				</div>
				<div class="col-md-4">
					<label for="phone" class="form-label">Phone Number</label>
					<input type="text" class="form-control" id="phone" placeholder="9444XXXXXX" value="" autocomplete="off" required>
				</div>
			</div>

			<div class="row mb-3 g-3">
				<div class="col-md-4">
					<label for="specialityId" class="form-label">Speciality</label>
					<select id="specialityId" class="form-control" asp-items="@ViewBag.Specialities" required>
						<option value="">Please Select</option>
					</select>
				</div>
				<div class="col-md-4">
					<label for="experience" class="form-label">Experience (in years)</label>
					<select id="experience" class="form-control" required>
						<option value="">Please Select</option>
						@for (int i = 1; i <= 40; i++){
							<option value="@i">@i</option>
						}
					</select>
				</div>
				<div class="col-md-4">
					<label for="postCode" class="form-label">Post Code</label>
					<input type="text" class="form-control" id="postCode" placeholder="" value="" autocomplete="off" required>
				</div>
			</div>

			<div class="row mb-3 g-3">
				<div class="col-md-4">
					<label for="registerInterest" class="form-label">Are You Interested in Joining?</label>
					<select id="registerInterest" class="form-control">
						<option value="">Please Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
						<option value="maybe">Maybe</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<button id="signUpBtn" type="button" class="btn btn-success float-end"><i class="fa-solid fa-user-plus"></i> Register your Interest</button>
				</div>
			</div>

		</div>
	</div>

	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-12">
			<h2 class="text-body-emphasis outfit pb-3"><img src="~/images/team.png" height="50px" width="50px"> Our Team</h2>
			<div class="row">
				<div class="col-md-6">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Dr Yuvaraj Thiruvengadam</span><br />
							<span class="fw-bolder">&nbsp; Chief Medical Resource Officer</span><br />
							<span class="fst-italic">&nbsp; MBBS, MS General Surgery (BMCRI, Bangalore)</span><br />
							<span class="fst-italic">&nbsp; Mch Surgical Gastroenterology (KEMH, Mumbai)</span><br />
							<span class="fst-italic">&nbsp; FMAS, FACRSI</span>
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Dr Chidanand P Kumar</span><br />
							<span class="fw-bolder">&nbsp; Chief Executive Officer</span><br />
							<span class="fst-italic">&nbsp; MBBS; MBA in Medical Innovation</span><br />
							<span class="fst-italic">&nbsp; and Entrepreneurship (Israel)</span>
						</p>
					</div>
				</div>
			</div>
			<div class="row pb-3">
				<div class="col-md-6">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span data-nosnippet class="fw-semibold">&nbsp; Sidharth Balakrishnan</span><br />
							<span class="fw-bolder">&nbsp; Chief Technology Officer</span><br />
							<span class="fst-italic">&nbsp; B.Tech, MSc (UK)</span>
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Nikita Gupta</span><br />
							<span class="fw-bolder">&nbsp; Technical Expert</span><br />
							<span class="fst-italic">&nbsp; B.Tech (NIT, Kurukshetra)</span>
						</p>
					</div>
				</div>
			</div>
			<h4 class="text-body-emphasis outfit pb-3">Marketing Team</h4>
			<div class="row">
				<div class="col-md-6 pb-3">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="pt-3">
							<span class="fw-semibold">&nbsp; Parvathi Vijayakumar</span><br />
						</p>
					</div>
				</div>
				<div class="col-md-6 pb-3">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="pt-3">
							<span class="fw-semibold">&nbsp; Ranjith Murali</span><br />
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

</main>
