@{
    ViewData["Title"] = "Home Page";
}

<main>
	<div class="row">
		<div class="col-md-8">
			<h1 class="text-body-emphasis outfit">Expand Your Practice With CuraGo</h1>
			<h3 class="text-body-emphasis outfit">Grow Hassle-Free on Your Terms</h3>
			<p class="fs-5 pt-4">Join CuraGo's <b>exclusive Phase 1 launch</b> and expand your reach with at-home consultations—without the hassle of managing logistics.</p>
			<p>Ready to Grow Your Practice?</p>
					

			<div class="mb-5">
				<a href="/docs/5.3/examples/" class="btn btn-success btn-lg px-4"><i class="fa-solid fa-user-doctor"></i>&nbsp; Sign Up in &#60;30 Seconds!</a>
			</div>
		</div>
		<div class="col-md-4">
			<img src="~/images/jumbotron.jpg" class="float-end" height="250px"/>
		</div>
	</div>

	<hr class="col-4 col-md-8 mb-5">
			
	<div class="row g-5">
		<div class="col-md-12">
			<h3 class="text-body-emphasis text-center outfit"><img src="~/images/hands.png" height="50px" width="50px"> Why Join CuraGo?</h3>
			<div class="row">
			<div class="col-md-4">
				<ul class="ps-0 list-unstyled">
					<li class="pt-2"><i class="fa-solid fa-square-check text-success"></i> <b>Earn More</b> – Additional revenue stream without extra hassle.</li>
					<li class="pt-2"><i class="fa-solid fa-square-check text-success"></i> <b>Expand Your Patient Reach </b> – Connect with an untapped home-visit patient base.</li>
					<li class="pt-2"><i class="fa-solid fa-square-check text-success"></i> <b> Zero Admin Work </b> – We handle bookings, logistics, and transport.</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="ps-0 list-unstyled">
					<li class="pt-2"><i class="fa-solid fa-square-check text-success"></i> <b>Flexible Scheduling </b> – Choose hours that work for you.</li>
					<li class="pt-2"><i class="fa-solid fa-square-check text-success"></i> <b>Boost Your Recognition </b> – Establish yourself as a trusted doctor.</li>
					<li class="pt-2"><i class="fa-solid fa-square-check text-success"></i> <b>Build Your Brand </b> – Strengthen your reputation and grow your practice.</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="ps-0 list-unstyled">
					<li class="pt-2"><i class="fa-solid fa-square-check text-success"></i> <b>Exclusive ESOP Opportunity </b> – Be part of something bigger.</li>
					<li class="pt-2"><i class="fa-solid fa-square-check text-success"></i> <b>Doctor-First Approach </b> – Designed to balance your convenience with quality patient care.</li>
				</ul>
			</div>
			</div>
		</div>
	</div>
			
	<hr class="col-12 col-md-12 mb-5">

	<div class="row g-5">
		<div class="col-md-6">
			<h3 class="text-body-emphasis outfit"><img src="~/images/join.png" height="50px" width="50px"> How CuraGo Works for YOU</h3>
			<ul>
				<li class="pt-2"><b>Replace OPD consultations with at-home consultations</b> Tap into an untapped patient base who prefer home visits. </li>
				<li class="pt-2"><b>We manage your bookings</b> No need to worry about scheduling, patient management, or cancellations.</li>
				<li class="pt-2"><b>Full transportation support</b> We provide transport for your home visits so you can focus on treating patients.</li>
				<li class="pt-2"><b>Balanced doctor-patient model</b> We ensure that patient convenience never comes at the cost of your professional dignity.</li>
			</ul>
		</div>

		<div class="col-md-6">
			<h3 class="text-body-emphasis outfit"><img src="~/images/doctor.png" height="50px" width="50px"> Who Should Join CuraGo?</h3>
			<ul>
				<li class="pt-2"><b>Specialists & Super-specialists</b> (preferably fresh graduates or &#60; 2 years experience)</li>
				<li class="pt-2"><b>MBBS Doctors</b> with 3+ years of experience</li>
				<li class="pt-2"><b>Interns and MBBS Doctors with &#60; 3 years of experience</b> (for backend roles based on requirement)</li>
				<li class="pt-2"><b>PG Doctors</b> (for backend roles based on requirement)</li>
			</ul>
		</div>
	</div>
			
	<hr class="col-12 col-md-12 mb-5">

	<div class="row g-5">
		<div class="col-md-8">
			<h2 class="text-body-emphasis outfit"><img src="~/images/mission.png" height="50px" width="50px"> Our Vision & Mission</h2>
			<p>We are a team of doctors and tech innovators <b>solving real problems in healthcare</b>.</p>
			<p>Many patients prefer home consultations, but most doctors don’t have a structured way to offer them.</p>
			<p><b>Our goal is to bridge this gap.</b></p>	
			<p>We aim to do this by ensuring doctors get access to these patients <b>without losing their professional value</b>.</p>	
			<p><b>You treat patients. We take care of the rest.</b></p>	
			<p>We believe in <b>long-term partnerships</b> with doctors—our exclusive early members get priority for future opportunities, including ESOPs</p>	
			<p><b>Don’t miss this opportunity. Join early and unlock more benefits!</b></p>	
			<p></p>	
		</div>
		<div class="col-md-4">
			<h2 class="outfit">Our Team</h2>	
			<div class="d-flex">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" height="60px" width="60px;" style="bd-placeholder-img flex-shrink-0 me-2 rounded" />
				<p class="pb-3 mt-1 mb-0"><span class="fw-semibold">&nbsp; Dr Yuvaraj Thiruvengadam </span><br/> <span class="fst-italic">&nbsp; Surgical Gasteroenterologist</span></p>
			</div>
			<div class="d-flex">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" height="60px" width="60px;" style="bd-placeholder-img flex-shrink-0 me-2 rounded" />
				<p class="pb-3 mt-1 mb-0"><span class="fw-semibold">&nbsp; Dr Prateek </span/><br/> <span class="fst-italic">&nbsp; General Physician</span></p>
			</div>
			<div class="d-flex">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" height="60px" width="60px;" style="bd-placeholder-img flex-shrink-0 me-2 rounded" />
				<p class="pb-3 mt-1 mb-0"><span class="fw-semibold">&nbsp; Dr Chidanad Kumar </span><br/> <span class="fst-italic">&nbsp; General Physician</span></p>
			</div>
		</div>
	
	</div>
</main>
