@{
	ViewData["Title"] = "CuraGo";
	Layout = "_LandingLayout";
}

<main>
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-body-emphasis outfit">Expand Your Practice With CuraGo</h1>
			<h3 class="text-body-emphasis outfit">Grow Hassle-Free on Your Terms</h3>
			<p class="fs-5">Join CuraGo's <b>exclusive Phase 1 launch</b> and expand your reach with at-home consultations—without the hassle of managing logistics.</p>
			<p>Ready to Grow Your Practice?</p>
			<div class="pb-3">
				<a href="#signup" class="btn btn-success btn-lg px-4"><i class="fa-solid fa-user-doctor"></i>&nbsp; Sign Up in &#60;30 Seconds!</a>
			</div>
		</div>
		@* <div class="col-md-4">
			<img src="~/images/jumbotron.jpg" class="float-end" height="250px"/>
		</div> *@
	</div>

	<hr class="col-12 col-md-12 pb-3">
			
	<div class="row g-5">
		<div class="col-md-12">
			<h3 class="text-body-emphasis text-center outfit pb-3"><img src="~/images/hands.png" height="50px" width="50px"> Why Join CuraGo?</h3>
			<div class="row">
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Earn More</b> – Additional revenue stream without extra hassle.</li>
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Expand Your Patient Reach </b> – Connect with an untapped home-visit patient base.</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; <b> Zero Admin Work </b> – We handle bookings, logistics, and transport.</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Flexible Scheduling </b> – Choose hours that work for you.</li>
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Boost Your Recognition </b> – Establish yourself as a trusted doctor.</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Build Your Brand </b> – Strengthen your reputation and grow your practice.</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Exclusive ESOP Opportunity </b> – Be part of something bigger.</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Doctor-First Approach </b> – Designed to balance your convenience with quality patient care.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
			
	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-6">
			<h3 class="text-body-emphasis outfit pb-3"><img src="~/images/join.png" height="50px" width="50px"> How CuraGo Works for YOU</h3>
			<ul>
				<li class="pb-3"><b>Replace OPD consultations with at-home consultations</b> Tap into an untapped patient base who prefer home visits. </li>
				<li class="pb-3"><b>We manage your bookings</b> No need to worry about scheduling, patient management, or cancellations.</li>
				<li class="pb-3"><b>Full transportation support</b> We provide transport for your home visits so you can focus on treating patients.</li>
				<li><b>Balanced doctor-patient model</b> We ensure that patient convenience never comes at the cost of your professional dignity.</li>
			</ul>
		</div>

		<div class="col-md-6">
			<h3 class="text-body-emphasis outfit pb-3"><img src="~/images/doctor.png" height="50px" width="50px"> Who Should Join CuraGo?</h3>
			<ul>
				<li class="pb-3"><b>Specialists & Super-specialists</b> (preferably fresh graduates or &#60; 2 years experience)</li>
				<li class="pb-3"><b>MBBS Doctors</b> with 3+ years of experience</li>
				<li class="pb-3"><b>Interns and MBBS Doctors with &#60; 3 years of experience</b> (for backend roles based on requirement)</li>
				<li><b>PG Doctors</b> (for backend roles based on requirement)</li>
			</ul>
		</div>
	</div>
			
	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-12">
			<h2 class="text-body-emphasis outfit pb-3"><img src="~/images/mission.png" height="50px" width="50px"> Our Vision & Mission</h2>
			<p>We are a team of doctors and tech innovators <b>solving real problems in healthcare</b>.</p>
			<p>Many patients prefer home consultations, but most doctors don’t have a structured way to offer them.</p>
			<p><b>Our goal is to bridge this gap.</b></p>	
			<p>We aim to do this by ensuring doctors get access to these patients <b>without losing their professional value</b>.</p>	
			<p><b>You treat patients. We take care of the rest.</b></p>	
			<p>We believe in <b>long-term partnerships</b> with doctors—our exclusive early members get priority for future opportunities, including ESOPs</p>	
			<p><b>Don’t miss this opportunity. Join early and unlock more benefits!</b></p>	
			<p></p>	
		</div>
	</div>

	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-12">
			<h2 class="text-body-emphasis outfit pb-3"><img src="~/images/team.png" height="50px" width="50px"> Our Team</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Dr Yuvaraj Thiruvengadam</span><br />
							<span class="fw-bolder">&nbsp; Chief Medical Resource Officer</span>
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Dr Chidanand P Kumar</span><br />
							<span class="fw-bolder">&nbsp; Chief Executive Officer</span><br />
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span data-nosnippet class="fw-semibold">&nbsp; Sidharth Balakrishnan</span><br />
							<span class="fw-bolder">&nbsp; Chief Technology Officer</span><br />
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Nikita Gupta</span><br />
							<span class="fw-bolder">&nbsp; Technical Expert</span><br />
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Parvathi Vijayakumar</span><br />
							<span class="fw-bolder">&nbsp; Chief Marketing Officer</span><br />
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Ranjith Murali</span><br />
							<span class="fw-bolder">&nbsp; Marketing Expert</span><br />
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-8">
			<h2 id="signup" class="text-body-emphasis outfit pb-3"><img src="~/images/interest.png" height="50px" width="50px"> Sign Up</h2>
			<div id="registerInterestSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>Hey there!</strong> Thanks for registering your interest, we'll get back to you soon.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div id="registerInterestFailure" class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Error!</strong> Please make sure to enter your valid details.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div class="row mb-3 g-3">
				<div class="col-md-6">
					<label for="firstName" class="form-label">First Name</label>
					<input type="text" class="form-control" id="firstName" placeholder="" value="" required>
					<div class="invalid-feedback">
						Valid first name is required.
					</div>
				</div>
				<div class="col-md-6">
					<label for="firstName" class="form-label">Last Name</label>
					<input type="text" class="form-control" id="lastName" placeholder="" value="" required>
					<div class="invalid-feedback">
						Valid last name is required.
					</div>
				</div>
			</div>

			<div class="row mb-3 g-3">
				<div class="col-md-6">
					<label for="firstName" class="form-label">Phone Number</label>
					<input type="text" class="form-control" id="phone" placeholder="" value="" required>
					<div class="invalid-feedback">
						Valid phone is required.
					</div>
				</div>
				<div class="col-md-6">
					<label for="firstName" class="form-label">Email Address</label>
					<input type="text" class="form-control" id="email" placeholder="" value="" required>
					<div class="invalid-feedback">
						Valid email is required.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6">
					<button id="registerInterest" type="button" class="btn btn-success float-end"><i class="fa-solid fa-user-plus"></i> Register your Interest</button>
				</div>
			</div>

		</div>
	</div>
</main>
