@{
	ViewData["Title"] = "CuraGo";
	Layout = "_LandingLayout";
}

<main>
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-body-emphasis outfit">Expand Your Clinical Practice With CuraGo</h1>
			<p class="fs-5">Join CuraGo's <b>exclusive Phase 1 launch</b> to expand your reach with at-home consultations.</p>
			<p>Ready to Grow Your Practice?</p>
			<div class="pb-3">
				<a href="#signup" class="btn btn-success btn-lg px-4"><i class="fa-solid fa-user-doctor"></i>&nbsp; Sign Up Instantly</a>
			</div>
		</div>
		@* <div class="col-md-4">
			<img src="~/images/jumbotron.jpg" class="float-end" height="250px"/>
		</div> *@
	</div>

	<hr class="col-12 col-md-12 pb-3">
			
	<div class="row g-5">
		<div class="col-md-12">
			<h3 class="text-body-emphasis text-center outfit pb-3"><img src="~/images/hands.png" height="50px" width="50px"> Why Join CuraGo?</h3>
			<div class="row">
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Earn More</b> – Additional revenue stream without extra hassle.</li>
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Expand Your Patient Reach </b> – Connect with an untapped home-visit patient base.</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; <b> Zero Admin Work </b> – We handle bookings, logistics, transport and billing.</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Flexible Scheduling </b> – Choose hours that work for you.</li>
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Boost Your Recognition </b> – Establish yourself as a trusted doctor.</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Build Your Brand </b> – Strengthen your reputation and grow your practice.</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-unstyled">
						<li class="pb-3"><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Exclusive ESOP Opportunity </b> – Be part of something bigger.</li>
						<li><i class="fa-solid fa-check text-success"></i>&nbsp; <b>Doctor-First Approach </b> – Designed to balance your convenience with quality care.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
			
	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-12">
			<h3 class="text-body-emphasis outfit pb-3"><img src="~/images/join.png" height="50px" width="50px"> How CuraGo Works for YOU</h3>
			<div class="row">
				<div class="col-md-3 pb-3">
					<div class="card">
						<img src="https://cdn-icons-png.freepik.com/256/3307/3307145.png" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">Replace OPD Consultations</h6>
							<p class="card-text">Tap into an untapped patient base who prefer home visits over hospital visits</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 pb-3">
					<div class="card">
						<img src="https://cdn-icons-png.freepik.com/256/6491/6491278.png" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">We Manage bookings</h6>
							<p class="card-text">No need to worry about scheduling, patient management, or cancellations</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 pb-3">
					<div class="card">
						<img src="https://cdn-icons-png.freepik.com/256/4121/4121184.png" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">Full Transportation Support</h6>
							<p class="card-text">We provide transport for your home visits, so you can focus on treating patients</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 pb-3">
					<div class="card">
						<img src="https://cdn-icons-png.freepik.com/256/3518/3518128.png" class="my-3 rounded mx-auto d-block" style="height:80px;">
						<div class="card-body text-center">
							<h6 class="card-subtitle mb-2 text-body-secondary">Balanced Model</h6>
							<p class="card-text">Ensure patient convenience never comes at the cost of your professional dignity</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</div>
			
	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-7">
			<h2 class="text-body-emphasis outfit pb-3"><img src="~/images/mission.png" height="50px" width="50px"> Our Vision & Mission</h2>
			<p>We are a team of doctors and tech innovators <b>solving real problems in healthcare</b>.</p>
			<p>Many patients prefer home consultations, but most doctors don’t have a structured way to offer them.</p>
			<p><b>Our goal is to bridge this gap.</b></p>	
			<p>We aim to do this by ensuring doctors get access to these patients <b>without losing their professional value</b>.</p>	
			<p><b>You treat patients. We take care of the rest.</b></p>	
			<p>We believe in <b>long-term partnerships</b> with doctors—our exclusive early members get priority for future opportunities, including ESOPs</p>	
			<p><b>Don’t miss this opportunity. Join early and unlock more benefits!</b></p>	
			<p></p>	
		</div>
		<div class="col-md-5">
			<h3 class="text-body-emphasis outfit pb-3"><img src="~/images/doctor.png" height="50px" width="50px"> Who Should Join?</h3>
			<ul class="list-unstyled">
				<li class="pb-3"><i class="fa-solid fa-thumbtack text-danger"></i>&nbsp; <b>Specialists & Super-specialists</b> (preferably fresh graduates or &#60; 2 years experience)</li>
				<li class="pb-3"><i class="fa-solid fa-thumbtack text-danger"></i>&nbsp; <b>MBBS Doctors</b> with 3+ years of experience</li>
				<li class="pb-3"><i class="fa-solid fa-thumbtack text-danger"></i>&nbsp; <b>Interns and MBBS Doctors with &#60; 3 years of experience</b></li>
				<li><i class="fa-solid fa-thumbtack text-danger"></i>&nbsp; <b>PG Resident</b></li>
			</ul>
		</div>
	</div>

	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5" id="signup">
		<div class="col-md-12">
			<h2 class="text-body-emphasis outfit pb-3"><img src="~/images/interest.png" height="50px" width="50px"> Sign Up</h2>
			<div id="registerInterestSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>Hey there!</strong> Thanks for registering your interest, we'll get back to you soon.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div id="registerInterestFailure" class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Error!</strong> Please make sure to enter your valid details.
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<div class="row mb-3 g-3">
				<div class="col-md-4">
					<label for="firstName" class="form-label">First Name</label>
					<input type="text" class="form-control" id="firstName" placeholder="John" value="" required>
				</div>
				<div class="col-md-4">
					<label for="lastName" class="form-label">Last Name</label>
					<input type="text" class="form-control" id="lastName" placeholder="Doe" value="" required>
				</div>
				<div class="col-md-4">
					<label for="phone" class="form-label">Phone Number</label>
					<input type="text" class="form-control" id="phone" placeholder="9444XXXXXX" value="" required>
				</div>
			</div>

			<div class="row mb-3 g-3">
				<div class="col-md-4">
					<label for="specialityId" class="form-label">Speciality</label>
					<select id="specialityId" class="form-control" asp-items="@ViewBag.Specialities" required>
						<option value="">Please Select</option>
					</select>
				</div>
				<div class="col-md-4">
					<label for="experience" class="form-label">Experience</label>
					<input type="text" class="form-control" id="experience" placeholder="5" value="" required>
				</div>
				<div class="col-md-4">
					<label for="postCode" class="form-label">Post Code</label>
					<input type="text" class="form-control" id="postCode" placeholder="600101" value="" required>
				</div>
			</div>

			<div class="row mb-3 g-3">
				<div class="col-md-4">
					<label for="registerInterest" class="form-label">Are You Interested in Joining?</label>
					<select id="registerInterest" class="form-control">
						<option value="">Please Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
						<option value="maybe">Maybe</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<button id="signUpBtn" type="button" class="btn btn-success float-end"><i class="fa-solid fa-user-plus"></i> Register your Interest</button>
				</div>
			</div>

		</div>
	</div>

	<hr class="col-12 col-md-12 pb-3">

	<div class="row g-5">
		<div class="col-md-12">
			<h2 class="text-body-emphasis outfit pb-3"><img src="~/images/team.png" height="50px" width="50px"> Our Team</h2>
			<div class="row">
				<div class="col-md-6">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Dr Yuvaraj Thiruvengadam</span><br />
							<span class="fw-bolder">&nbsp; Chief Medical Resource Officer</span><br />
							<span class="fst-italic">&nbsp; MBBS, MS General Surgery (BMCRI, Bangalore)</span><br />
							<span class="fst-italic">&nbsp; Mch Surgical Gastroenterology (KEMH, Mumbai)</span><br />
							<span class="fst-italic">&nbsp; FMAS, FACRSI</span>
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Dr Chidanand P Kumar</span><br />
							<span class="fw-bolder">&nbsp; Chief Executive Officer</span><br />
							<span class="fst-italic">&nbsp; MBBS; MBA in Medical Innovation</span><br />
							<span class="fst-italic">&nbsp; and Entrepreneurship (Israel)</span><br />
							<span class="fst-italic">&nbsp; </span>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 pb-3">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span data-nosnippet class="fw-semibold">&nbsp; Sidharth Balakrishnan</span><br />
							<span class="fw-bolder">&nbsp; Chief Technology Officer</span><br />
						</p>
					</div>
				</div>
				<div class="col-md-6 pb-3">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Nikita Gupta</span><br />
							<span class="fw-bolder">&nbsp; Technical Expert</span><br />
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 pb-3">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Parvathi Vijayakumar</span><br />
							<span class="fw-bolder">&nbsp; Chief Marketing Officer</span><br />
						</p>
					</div>
				</div>
				<div class="col-md-6 pb-3">
					<div class="d-flex">
						<img src="~/images/profile.png" height="60px" width="60px;" class="bd-placeholder-img flex-shrink-0 me-2 rounded" />
						<p class="">
							<span class="fw-semibold">&nbsp; Ranjith Murali</span><br />
							<span class="fw-bolder">&nbsp; Marketing Expert</span><br />
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

</main>
